<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lastName</key>
		<string>Thurber</string>
		<key>firstName</key>
		<string>Aleesha</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Warnock</string>
		<key>firstName</key>
		<string>Caitlin</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Miller</string>
		<key>firstName</key>
		<string>Megan</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Fortney</string>
		<key>firstName</key>
		<string>Kara</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Hermanns</string>
		<key>firstName</key>
		<string>Sarah</string>
	</dict>
</array>
</plist>
